@import './reset.css';
@import './header.css';
@import './footer.css';

.main {
    flex: 1 1 auto;
}

.card-img {
    height: 250px; /* Знову ж, ви можете змінити значення */
    overflow: hidden;
}

.card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
